/* CSS 주석 */
/* HTML마크업에 스타일 적용 방법 */
/*
    선택자 { 속성명 : 속성값; 속성명 : 속성값; } 
    선택자 종류
        1. * : 와일드카드{전체}
        2. h4 : 특정 마크업명
        3. classname : 특정클래스명 지명
        4. #id : 특정아이디명 지정

    선택자 우선순위
        만약에 동일한 속성이 중복이면 
        * < 특정마크업 < .classname < #아이디명 < 인라인
            만일 동일한 수준이면 아래에 구성한 CSS로 적용한다.
            <마크업 style="CSS문법"> 우선 적용한다. 
*/
*{ color :  brown; }
h3{ color : yellow; }
.구역1{color : beige; }            /* . 은 클래스인거 기억!!!! */
#구역2 { color : black; }
#구역3 { color : tomato; }
    /*자식선택자 : 상위선택자 > 자식선택자 대입.  */
div > h3{ color : green; }
    /* 자손선택자 : 상위선택자(스페이스바)하위선택자 */
div li{ background-color: aqua; }

/* 복수선택자 : 선택자 2개 이상 작성 */
h3 , h4 { color:chocolate;}

/* 다양한 선택자를 제공 */
/* html > body > div > ol > li {} */
/* vs */
#이름1{color : darkblue; }


/* 1. 누구를 2. 무엇을 3. 어떻게 꾸밀건지 */
/* 속성값 뒤로 ;(세미콜론) 필수! */
.title{
    font-family: "궁서체" ;         /* 글꼴*/
    font-size: 50px;                    /* 글자 크기*/
    font-style: italic;                   /* 글자 기울기*/
    font-weight: 100;                 /* 글자 진하게 */
}
@font-face {
    font-family: 'SchoolSafetySusukkang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2508-2@1.0/HakgyoansimSusukkangL.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.text {
    font-family: 'SchoolSafetySusukkang';
    font-size: 30px;
    color: coral;                 /* 글자 색깔*/
    letter-spacing: 2px;        /* 자간 */
    word-spacing: 10px;     /* 어간 */
    line-height: 1.6;           /* 행간 */
}

.작성자{
    text-align: center;      /* 텍스트 정렬 */
    text-decoration: underline;     /*밑줄*/
    text-decoration:overline;           /*윗줄*/
    text-decoration: line-through;     /*취소선*/
    text-shadow:10px 20px blue ;      /* text-shadow: x(좌- / 우+) 
                                        y(위- / 아래+) blur(흐림 정도, 0=선명) color(그림자 색상) */
    color: green;                 /* 1. 색상명 */
    color: rgb(225, 224, 225);    /* 2. RGB 색상 */
    color: #E1E0E1;               /* 3. HEX(16진수) 색상 */
    color: rgba(225, 224, 225, 0.5); /* 4. RGBA(투명도 포함) */
}


/* 한달 프론트, 한달 백엔드(java) 하는데, 그때도 이런 color명을 기억할 수 있을까? 
노우노우. 따라서 지금까지 배운 기능들을 잘 정리하여서 나중에 참고할 수 있도록 하쇼.*/