/* .Box1{
    width: 500px;
    height: 600px;
    border:  solid 3px red; 
    border-radius: 5%;
} */



.글자{
    /* text-align: left;
    padding-left: 10px; */
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.사이즈1{
     padding-right: 25px;
}

.먹기1{
    padding-right: 23px;
}

.온도1{
    padding-right: 55px;
}

.사이즈{
    text-align: left;
    margin-bottom: 20px;
}




.box1{
    text-align: left;
    margin-bottom: 10px;
}

.box2{
    text-align: left;
    margin-top: 20px;
}


.box4{
    text-align: left;
    padding-left: 50px;
    margin-top: 30px;
    /* border:  solid 1px black;   */
}

.box5{
    border:  solid 1px black;  
    padding :10px 20px 10px 20px;
}
/*
.box6{
    border:  solid 1px black;   
    padding :10px 30px 10px 30px;
} */
.박스{
    margin-left: 100px;
}

.버튼1{
padding :12px 40px 10px 40px;
}