/* 전체 레이웃 확인 => 추후에 완성후 제거 예정 */
*{ border: 1px solid red; }
#header{ 
    width: 1280px; /* 구역 가로 사이즈 */
    margin: 0 auto; /* 구역 가로 가운데 정렬 */
}
#main{ width: 1280px;margin: 0 auto; }
/* 자주 사용되는 기본CSS */
*{ 
    box-sizing: border-box; /* content+padding 포함 사이즈 정의 */
    padding: 0px; margin: 0px; /* 기본여백 제거 */
}
a{
    text-decoration: none; /* a하이퍼링크 밑줄 제거 */
    color: black; /* a하이퍼링크 색상 검정 */
}
li{ list-style-type: none; } /* li 항목 글머리 제거 */

/* [1] header ============================================= */
#header{ 
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center; /* flex 하위요소들 세로 정렬 */
}
.top-menu{
    display: flex;   
    justify-content: end; /* 오른쪽 정렬 */ 
    margin: 10px 0px;
}
.main-menu{
    display: flex;
    justify-content: end; 
    margin: 20px 0px;
}

.top-menu > li{margin-left: 10px;}
.main-menu >li{
    margin-left: 50px;
    font-size: 25px;
    font-weight: bold;
}

#main-img > img{width: 100%;}

/* [2] main ======================================= */
#main{
    display: flex;
    justify-content: space-between;
}

.sidebar{
    width: 220px;   /* 1280중에 220px 사용. */
}
.sidebar > h3{
    background-color: #808080;
    color: #ffffff;
    padding :10px;
}
.sidebar > ol > li {
    padding: 10px;
    border-bottom: 1px solid gray;
}

.content{
    width: 1030px;      /* 1280중에 1030px 사용.  */;
}
.content >h3{
    font-size: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    border-bottom: 1px solid gray;
}

.content >img{
    display: block;     /* 이미지 마크업은 display: inline 이 기본값이므로 block으로 변경하여 중앙정렬. */
    margin: 0 auto;     /* 중앙 맞추기 */
}

/*===========================================================*/

#footer{
    margin-top: 20px;
    background-color: #2C2B29;
}

.footer-inner{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.right-foot{
    color: white;
}